body{
    margin: 0;
    padding: 0;
}
.header{
    height: 64px;
    width: 100;
}
.body{
    width: 100%;
    height: calc(100vh - 128px);
    background: rgb(235, 241, 241);
    display: flex;
}
.left{
    width: 50%;
    height: calc(100vh - 128px);
}
.center-cube{
    display: flex;
    margin-left: 270px;
    width: auto;
    height: 600px;
    margin-top: 130px;
}
.cube{
    width: 200px;
    height: 220px;
    background-color: white;
    margin: 8px 5px;
    border-radius: 5px;
    text-align: center;
}
.egnee-1{
    align-self: flex-end;
} 
i{
    margin-top: 30px;
}
.egnee-2{
    align-self:center;
}
.right{
    width: 50%;
    height: calc(100vh - 128px);
    padding: 100px 200px;
}
.word{
    width: 400px;
    height: calc(100vh - 128px);
    font-family: Arial, Helvetica, sans-serif;
}
.button{
    width: 150px;
    height: 30px;
    background-color: blue;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
#Sign-Up{
    color: white;
    text-decoration: none;
    
}
.right h1{
    letter-spacing: 1px;
}
.right p{
    letter-spacing: 2px;
    font-size: 20px;
}
.footer{
    width: 100%;
    height: 64px;
}