*{
    margin: 0;
    padding: 0;
}
.body{
    flex-grow: 1;
}
section{
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(-45deg, #EE7752,#E73C7E,#23A6D5, #23D5AB);
    background-size: 500% 500%;
    position: relative;
    animation: change 10s ease-in-out infinite;
    flex-grow: 1;
}
.back{
    width: 100%;
}
@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
.header{
    width: 100%;
    height: 80px;
    background-color: rgb(19, 20, 20);
    flex-grow: 1;

}
.fa{
    color: antiquewhite;
    position: inherit;
}
.parallax {
    padding: 250px;
    background: transparent;
    position: relative;
}
.news2{
    width: 100%;
    height: calc(100vh - 128px);
    background-image: url(new2.jpg);
    justify-content: center;
}
.text{
    padding-top: 230px;
    text-align: center;
    font-size: 50px;
    letter-spacing: 60px;
}
.footer{
    height: auto;
    width: 100%;
    background: #18191A;
    flex-grow: 1;
    padding: 20px 0px;
}
.footer-icons{
    width: 100%;
    height: auto;
    margin: auto;
}
.footer-icons ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
.footer-icons ul li{
    display: inline-block;
    height: 50px;
    width: 50px;
    margin: 0px 10px;
    border-radius: 100%;
    background: #7f5ca7;
}
.footer-icons ul li a{
    color: #18191A;
    font-size: 25px;
    display: block;
}
.footer-icons ul li a i{
    line-height: 50px;
    color: gold;
}
.footer-menu-one{
    width: 100%;
    height: auto;
    margin: auto;
    padding: 15px 0px;
    background: #111213;
    text-align: center;
}
.footer-menu-one ul{
    display: flex;
    margin: 0px;
    padding: 0;
    text-align: center;
    color: white;
    letter-spacing: 3px;
    margin-left: 41%;
}